<ion-header>
  <ion-toolbar>
    <ion-title>Add a Student</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" >
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Roll No.</ion-label>
      <ion-input formControlName="roll" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Course</ion-label>
      <ion-input formControlName="course" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Branch</ion-label>
      <ion-input formControlName="branch" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input formControlName="mobile" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="RegisterForm.invalid" >Add</ion-button>
        <ion-button type="button" [disabled] = "isEditMode" (click)="close()">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
